.secTitle {
    font-family: var(--font-mont);
    font-size: var(--font-18);
    color: var(--color-point);
    font-weight: var(--weight-800);
    margin-bottom: var(--space-32);
    letter-spacing: 0.05em;
}

.value_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-24);
}

.value_item {
    padding: var(--space-40);
    border-radius: var(--radius-20);
    transition: all 0.4s;
    background: var(--glass-bg);
    border: var(--glass-border);
    backdrop-filter: var(--glass-blur);
    box-shadow: var(--glass-shadow);

}

.value_item:hover {
    transform: translateY(-8px);
    /* border-color: var(--color-point); */
    border-color: var(--glass-hover-border);
    background: var(--glass-hover-bg);
    box-shadow: var(--glass-hover-shadow);
}

.num {
    font-family: var(--font-mont);
    color: var(--color-point);
    font-weight: var(--weight-700);
    margin-bottom: var(--space-12);
    display: block;
}

.title {
    font-size: var(--font-20);
    margin-bottom: var(--space-12);
    font-weight: var(--weight-700);
}

.desc {
    font-size: var(--font-14);
    color: var(--color-text-80);
    line-height: 1.6;
    word-break: keep-all;
}


@media (max-width: 768px) {
    .secTitle {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .value_wrapper {
        grid-template-columns: 1fr;
    }

    .value_item {
        text-align: center;
    }
}