.secTitle {
    font-family: var(--font-mont);
    font-size: var(--font-18);
    color: var(--color-point);
    font-weight: var(--weight-800);
    margin-bottom: var(--space-32);
    letter-spacing: 0.05em;
}

.value_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-24);
}

.value_item {
    padding: var(--space-40);
    border-radius: var(--radius-20);
    transition: all 0.4s;
    background: rgba(255, 255, 255, 0.45);
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(16px);
    box-shadow: 0 10px 30px rgba(126, 135, 184, 0.08);

}

.value_item:hover {
    transform: translateY(-8px);
    /* border-color: var(--color-point); */
    border-color: rgba(126, 135, 184, 0.4);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 10px 30px rgba(126, 135, 184, 0.15);
}

.num {
    font-family: var(--font-mont);
    color: var(--color-point);
    font-weight: var(--weight-700);
    margin-bottom: var(--space-12);
    display: block;
}

.title {
    font-size: var(--font-20);
    margin-bottom: var(--space-12);
    font-weight: var(--weight-700);
}

.desc {
    font-size: var(--font-14);
    color: var(--color-text-80);
    line-height: 1.6;
    word-break: keep-all;
}