.skill_wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-16);
}

.skill_wrapper li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-8);
    padding: var(--space-12) var(--space-16);
    background-color: var(--color-point-bg);
    border-radius: var(--radius-20);
}