.overview_section {
    position: relative;
    background-color: #ffffff;


}



.title {
    font-size: 5rem;
    font-weight: 200;
    color: var(--color-text-100);
}

.description {
    word-break: keep-all;
    max-width: 42rem;
    line-height: 1.7;
    color: var(--color-text-90);
}

.highlight {
    font-weight: var(--weight-600);
    color: var(--color-text-100);
}

.flex_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-24);
    margin-top: var(--space-40);
}