.label {
    font-family: var(--font-mont);
    font-size: var(--font-18);
    font-weight: var(--weight-800);
    text-transform: uppercase;
    margin-bottom: var(--space-24);
    letter-spacing: 0.05em;
}

.contact_wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-32);
}

.contact_item {
    display: flex;
    align-items: center;
    gap: var(--space-12);
    transition: all 0.2s;
    font-weight: var(--weight-500);
}

.contact_item:hover {
    transform: translateX(5px);
    color: var(--color-point);
}

.icon {
    width: 1rem;
}

@media (max-width: 768px) {
    .label {
        text-align: center;
    }

    .contact_wrapper {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .contact_wrapper {
        flex-direction: column;
        gap: 0.5rem;
    }

    /* .contact_section {
        padding: var(--space-32) 0;
        border-top: 1px solid var(--color-card-border);
    } */

}