.label {
    font-family: var(--font-mont);
    font-size: var(--font-18);
    font-weight: var(--weight-800);
    text-transform: uppercase;
    margin-bottom: var(--space-24);
    letter-spacing: 0.05em;
}

.contact_wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-32);
}

.contact_item {
    display: flex;
    align-items: center;
    gap: var(--space-12);
    transition: all 0.2s;
    font-weight: var(--weight-500);
}

.contact_item:hover {
    transform: translateX(5px);
    color: var(--color-point);
}

.icon {
    width: 1rem;
}