.header {
    height: var(--height-header);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header_inner {
    max-width: 1200px;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    padding-inline: var(--space-24);
    padding-block: var(--space-16);
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 35px;
    height: auto;
}

.header_right {
    display: flex;
    gap: var(--space-40);
}

.menu ul {
    display: flex;
    gap: var(--space-32);

}

.menu a {
    display: inline-block;
    font-family: var(--font-mont);
    color: var(--color-text-100);
    transition: all 0.3s;
    position: relative;
    padding: 0 6px;
}

.menu a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    background: radial-gradient(circle,
            rgba(155, 161, 235, 0.6) 0%,
            rgba(155, 161, 235, 0.1) 50%,
            transparent 80%);
    filter: blur(8px);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s;
    opacity: 0;
}

.menu a.active {
    font-weight: var(--weight-600);
}

.menu a.active::after {
    opacity: 1;
}

.menu a:hover:not(.active) {
    color: var(--color-text-80);

}

.menu a:hover:not(.active)::after {
    opacity: 0.25;
    filter: blur(4px);
    transform: translate(-50%, -50%) scale(0.85);
}

/* 햄버거 메뉴 */
.mob_menu {
    display: none;
}

.hamburger_btn {
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 1000;
}

.hamburger_btn span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--color-text-100);
    border-radius: 9px;
    left: 0;
    transition: .25s ease-in-out;
}

.hamburger_btn span:nth-child(1) {
    top: 0px;
}

.hamburger_btn span:nth-child(2) {
    top: 10px;
}

.hamburger_btn span:nth-child(3) {
    top: 20px;
}

.hamburger_btn.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.hamburger_btn.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(40px);
}

.hamburger_btn.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.hamburger_btn.open span {
    background: #ffffff;
}

.mobile_nav {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100vw;
    height: 100vh;
    background: rgba(15, 17, 26, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    z-index: 999;
    overflow: hidden;
    visibility: hidden;
}

.mobile_nav.show {
    transform: translateX(0);
    visibility: visible;
}

.mobile_nav ul {
    text-align: center;
    list-style: none;
}

.mobile_nav ul li {
    margin: var(--space-32) 0;
    font-size: var(--font-32);
    font-weight: var(--weight-700);
    color: #ffffff;
    font-family: var(--font-mont);
}


@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .mob_menu {
        display: block;
    }
}