.header {
    height: var(--height-header);
    z-index: 999;
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header_inner {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-inline: var(--space-24);
    padding-block: var(--space-16);
    display: flex;
    justify-content: space-between;

}

.header_right {
    display: flex;
    gap: var(--space-40);
}

.menu {
    display: flex;
    gap: var(--space-32);
}