@import "tailwindcss";

:root {
    /* color */
    /* --color-bg: #0f1115; */
    --color-card: rgba(255, 255, 255, 0.7);
    --color-card-border: #EDEEF9;

    --color-text-100: #2E3142;
    --color-text-90: #5E637A;
    --color-text-80: #7E8296;

    --color-point: #7E87B8;
    --color-sub: #C5C9F1;
    --color-point-bg: #F4F5FA;

    /* 기존 */
    /* --color-point: #C5C9F1; */
    /* --color-point-bg: #f0f2ff; */

    /* spacing */
    --space-4: 0.25rem;
    --space-6: 0.375rem;
    --space-8: 0.5rem;
    --space-10: 0.625rem;
    --space-12: 0.75rem;
    --space-16: 1rem;
    --space-24: 1.5rem;
    --space-28: 1.75rem;
    --space-32: 2rem;
    --space-40: 2.5rem;

    /* section spacing */
    --section-space: 5rem;
    /* ㄴ> 80px */

    /* radius */
    --radius-16: 1rem;
    --radius-20: 1.25rem;

    /* font size */
    --font-14: 0.875rem;
    --font-16: 1rem;
    --font-18: 1.125rem;
    --font-20: 1.25rem;
    --font-24: 1.5rem;
    --font-26: 1.625rem;
    --font-28: 1.75rem;
    --font-32: 2rem;
    --font-40: 2.5rem;


    /* font weight */
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;

    /* font-family */
    --font-es: 'Escoredream';
    --font-mont: "Montserrat";

    /* shadow */
    /* --shadow-1: 0 10px 30px rgba(0, 0, 0, 0.3); */
    --shadow-1: 0 15px 50px rgba(155, 161, 235, 0.2);

    /* height */
    --height-header: 4rem;


}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}




main:not(.home_main) {
    padding-top: calc(var(--height-header) + var(--space-40));
    padding-bottom: var(--space-40);
    /* padding-top: var(--height-header); */
}

.home_section {
    padding-bottom: 12rem;
}

.section_inner,
.main_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.about_secTitle {
    font-size: var(--font-24);
    font-weight: var(--weight-600);
    font-family: var(--font-es);
    margin-bottom: var(--space-16);
}

.about_section {
    margin-bottom: var(--section-space);
}