.fullWidth_wrapper {
    width: 100%;
    background-color: #f8f7ff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
}

.intro_inner {
    min-height: 70vh;
    padding-top: calc(35vh - 7rem);
    /* 35vh로 항상 섹션의 절반에서부터 시작할 거라고 기준선 박아두고 세로로 중앙정렬하는 건 눈대중으로 */
    /* 35vh를 섹션 높이(70vh)의 절반 기준선으로 고정하고,
    세로 중앙 정렬은 실제 중앙이 아니라 눈대중(옵티컬 보정)으로 맞춘다. */
    /* 35vh=구조적 기준선,
        나머지는 시각적 중앙을 위한 감각 보정값. */


    /* padding-top: 14rem; */
    /* . 글자가 늘어나면 기준점은 가만히 있고 아래로만 공간이 늘어나기 때문에 레이아웃이 요동치지 않으면서도 시각적인 중앙을 유지할 수 있는 것입니다. */

    display: flex;
    /* align-items: center; */
    /* 중심이 계속 다시 계산됨 위아래로 흔들림 (덜거덕)add*/
    /* 내용물이 한 줄 늘어날 때마다 위아래로 동시에 확장하며 기준점을 흔듭니다 (덜거덕거림의 원인). */
    justify-content: center;
    position: relative;
}



.code {
    font-family: var(--font-jetBrains);
    font-size: var(--font-26, 26px);
    line-height: 2;
    font-weight: 500;
}


.cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    margin-left: 2px;
    background: #000000;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}

.window_dots {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    gap: 8px;
}

.window_dots span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dot_red {
    background: #ff5f56;
}

.dot_yellow {
    background: #ffbd2e;
}

.dot_green {
    background: #27c93f;
}