/* 지샵 컨테이너 */
.fullWidth_wrapper {
    width: 100%;

}

.intro_inner {
    /* background: #0d1117; */
    background-color: #f8f7ff;
    border-radius: var(--radius-20);
    min-height: 45vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.75rem;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.02);
    position: relative;
}

.code {
    font-family: var(--font-jetBrains);
    font-size: var(--font-26, 26px);
    line-height: 2;
    font-weight: 500;
    /* color: #e6edf3; */
}


.cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    margin-left: 2px;
    /* background: #FFFFFF; */
    background: #000000;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}

.window_dots {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    gap: 8px;
}

.window_dots span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dot_red {
    background: #ff5f56;
}

.dot_yellow {
    background: #ffbd2e;
}

.dot_green {
    background: #27c93f;
}