.fullWidth_wrapper {
    width: 100%;
    background-color: #f8f7ff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
}

.intro_inner {
    min-height: 70vh;
    padding-top: calc(35vh - 7rem);
    display: flex;
    justify-content: center;
    position: relative;
}

.code {
    font-family: var(--font-jetBrains);
    font-size: var(--font-26);
    line-height: 2;
    font-weight: 500;
}


.cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    margin-left: 2px;
    background: #000000;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}

.window_dots {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    gap: 8px;
}

.window_dots span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dot_red {
    background: #ff5f56;
}

.dot_yellow {
    background: #ffbd2e;
}

.dot_green {
    background: #27c93f;
}

.fullWidth_wrapper {
    width: 100%;
    background-color: #f8f7ff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
}

@media (max-width: 1024px) {
    .intro_inner {
        padding-top: calc(35vh - 5rem);
    }
}

@media (max-width: 768px) {
    .intro_inner {
        min-height: 60vh;
        padding-top: calc(30vh - 5rem);
    }

    .code {
        /* 줄바꿈 허용 */
        white-space: pre-wrap;
        /* 단어 단위로 줄바꿈 */
        word-break: break-word;
    }
}

@media (max-width: 480px) {
    .code {
        font-size: 0.9rem;
        line-height: 1.8;
    }
}