.hero {
    background: radial-gradient(circle at center,
            rgba(235, 230, 255, 1) 0%,
            rgba(255, 255, 255, 1) 70%);
    padding-top: var(--height-header);
}


.hero_inner {
    min-height: calc(100vh - var(--height-header));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--space-32);
    gap: var(--space-32);
}


.txt_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.title_wrapper {
    position: relative;
}

.title {
    color: #222;
    font-size: 7.5rem;
    max-width: 800px;
    font-weight: 800;
    margin: 0 auto;
    word-break: keep-all;
    text-align: center;
    line-height: 1.1;
    letter-spacing: -0.05em;
}

.folder {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.folder1 {
    top: -150px;
    right: 130px;
}

.folder2 {
    top: -65px;
    left: -15px;
}

.folder3 {
    top: -100px;
    right: -20px;
}

.folder4 {
    top: 110px;
    left: -100px;
}

.folder5 {
    top: 140px;
    right: -60px;
}

.folder6 {
    bottom: -3px;
    left: -75px;
}

.folder7 {
    bottom: 28px;
    right: -78px;
}

.folder8 {
    bottom: -180px;
    left: 150px;
}


.folder_txt {
    font-size: var(--font-14);
    font-family: var(--font-mont);
    text-align: center;
    margin-top: -0.875rem;
}

.summary {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}


/* 반응형 */
@media (max-width: 1280px) {
    .title {
        font-size: 6rem;
    }

    .folder4 {
        top: 110px;
        left: -197px;
    }

    .folder6 {
        bottom: -37px;
        left: -147px;
    }

    .folder5 {
        top: 83px;
        right: -82px;
    }

    .folder7 {
        bottom: 28px;
        right: -130px;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: 4.5rem;
        max-width: 600px;
    }

    .folder {
        transform: scale(0.8);
    }

    .folder4 {
        top: 65px;
        left: -144px;
    }

    .folder6 {
        bottom: -75px;
        left: -142px;
    }

    .folder5 {
        top: 48px;
        right: -91px;
    }

    .folder7 {
        bottom: -23px;
        right: -130px;
    }
}

@media (max-width: 768px) {
    .hero_inner {
        padding-bottom: 0;
    }

    .title {
        font-size: 3rem;
        max-width: 90%;
    }

    .summary {
        padding: 0 var(--space-16);
    }

    .folder {
        transform: scale(0.7);
    }

    .folder3,
    .folder4,
    .folder5 {
        display: none;
    }

    .folder1 {
        top: -140px;
        right: 50px;
    }

    .folder2 {
        top: -80px;
        left: 10px;
    }

    .folder6 {
        bottom: -120px;
        left: 50px;
        right: 0;
    }

    .folder7 {
        right: 10px;
        bottom: 0;
        top: -75px;
    }

    .folder8 {
        bottom: -105px;
        left: auto;
        right: 25px
    }


}

@media (max-width: 480px) {
    .summary {
        max-width: 70%;
        margin: 0 auto;
        word-break: keep-all;
        margin-top: 0.5rem;
    }
}