.project_detail {
    padding-inline: var(--space-24);
    /* padding: var(--space-40) var(--space-24); */
}

.detail_hero {
    margin-bottom: var(--space-40);
}

.thumbnail_wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--radius-20);
    overflow: hidden;
    margin-bottom: var(--space-32);
    box-shadow: var(--shadow-1);
    position: relative;
}

.thumbnail_wrapper img {
    object-fit: cover;
}

.detail_title {
    font-family: var(--font-es);
    font-size: var(--font-40);
    font-weight: 800;
    color: var(--color-text-100);
    letter-spacing: -0.05em;
    margin-bottom: var(--space-12);
}

.detail_meta {
    display: flex;
    gap: var(--space-24);
    color: var(--color-text-80);
    font-size: var(--font-16);
}

.detail_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-40);
    padding-top: var(--space-40);
    border-top: 1px solid var(--color-card-border);
}

.content_main h2 {
    font-size: var(--font-24);
    margin-bottom: var(--space-16);
    color: var(--color-text-100);
}

.overview_wrapper {
    margin-bottom: var(--space-32);
}

.content_main li {
    color: var(--color-text-90);
    /* line-height: 1.8; */

}

.content_side h3 {
    font-size: var(--font-18);
    margin-bottom: var(--space-16);
}

.tech_tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-8);
    margin-bottom: var(--space-32);
}

.tech_tag {
    background: var(--color-point-bg);
    color: var(--color-text-100);
    padding: var(--space-8) var(--space-16);
    border-radius: var(--radius-16);
    font-weight: 600;
    font-size: var(--font-14);
}

/* --- Footer (Next Project) --- */
.detail_footer {
    margin-top: 80px;
    padding-top: var(--space-40);
    border-top: 1px solid var(--color-card-border);
}

.next_project {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-align: right;
}

.next_project .label {
    font-size: var(--font-14);
    color: var(--color-text-80);
    margin-bottom: var(--space-8);
}

.next_project .next_title {
    font-size: var(--font-28);
    font-weight: 800;
    color: var(--color-text-100);
    transition: color 0.3s;
}

.next_project:hover .next_title {
    color: var(--color-point);
}