.ex_wrapper {
    display: flex;
    gap: var(--space-24);
}

.ex_item {
    flex: 1;
}

.ex_item ul {
    background-color: var(--color-point-bg);
    padding: var(--space-16) var(--space-24);
    margin-top: var(--space-12);
    border-radius: var(--radius-20);
}

.item_title {
    display: inline-block;
    font-size: var(--font-18);
    padding: var(--space-4) var(--space-16);
    border-radius: var(--radius-20);
    border: 1px solid var(--color-point);
}