.footer {
    padding: var(--space-60) 0 var(--space-40);
    border-top: 1px solid var(--color-card-border);
    box-shadow: 0 -10px 40px rgba(155, 161, 235, 0.08);
}

.footer_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--space-24);

}

.footer_nav {
    display: flex;
    justify-content: end;
}

.footer_nav ul {
    display: flex;
    gap: var(--space-24);
}

.footer_nav a {
    display: inline-block;
    font-family: var(--font-mont);
    color: var(--color-text-100);
    transition: all 0.3s;
}

.footer_nav a:hover {
    color: var(--color-point);
    transform: translateY(-3px);
    text-shadow: var(--glass-hover-shadow);
}

.email_wrapper {
    position: relative;
}

.email {
    transition: all 0.3s;
    cursor: pointer;
    color: var(--color-text-100);
}

.email:hover {
    color: var(--color-point);
}

.copyTxt {
    position: absolute;
    font-size: 12px;
    border-radius: 6px;
    background: #111;
    color: #fff;
    padding: 4px 8px;
    top: -120%;
    left: 50%;
    transform: translate(-50%, 10px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    white-space: nowrap;
}

.copyTxt.show {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

.copyright {
    font-size: var(--font-14);
    margin-top: var(--space-32);
    color: var(--color-text-80);
    text-align: right;
}